<main>
  <h2>Edit event</h2>

  <form (submit)="editEvent(Name, Date)">
    <div class="row">
      <div class="col-25">
        <label for="name">Name:</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" class="input" placeholder="name" value="{{event['name']}}" #Name>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="date">Date:</label>
      </div>
      <div class="col-75">
        <input type="date" id="date" name="date" class="input" #Date>
      </div>
    </div>
    <br>
    <input type="submit" class="button" value="Save">
    <input type="submit" class="button" id="delete" value="Delete">
    <br><br>
  </form>
</main>
