<nav>
  <a class="index" (click)="login()">Login</a>
  <a class="index" (click)="signUp()">Sign up</a>
</nav>
<main class="index">
  <div>

    <h2 id="div_date">
      <i class="fas fa-calendar-alt"></i>
      Current date
    </h2>
    <div id="current_date_block">{{dateTime}}</div>

  </div>
  <p class="index_info">
    This is a service designed to monitor your affairs.<br>
    After registering for free, you will have access to creating new events in your personal calendar.<br>
    Also, when sharing with friends, you can create common events by adding other users.<br>
    This is exactly what you need!<br>
  </p>
  <h3 class="index_info">So join now!</h3>

</main>
